<div class="row">
    <div class="col-xs-12">
        <p>Add new servers or blueprints</p>
        <label>Server Name</label>
        
        <!-- 2way data binding -->
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        
        <!-- local ref -->
        <input type="text" 
            class="form-control" 
            #serverNameInput
        >
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <br>

        <!-- local ref -->
        <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)"
        >
        Add Server
        </button>
        
        <button
        class="btn btn-primary"
        (click)="onAddBlueprint()"
        >
        Add Server Blueprint
        </button>
    </div>
</div>