<!-- Udemy Edits -->

<!-- <app-server></app-server>
<app-warning></app-warning>
<app-success></app-success> -->

<!-- / Udemy Edits -->


<!-- view encapsulation:
     shadow dom emulation
     property attached to each attribute uniquely
-->
<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>

  
  <!-- Assignment 4 -->
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>  
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNum of oddNumbers" [number]="oddNum"></app-odd>
      <app-even *ngFor="let evenNum of evenNumbers" [number]="evenNum"></app-even>
    </div>
  </div>
</div>

<!-- custom attribute directive -->
<div>
  <p appBasicHighlight>Styled with Custom Attribute Directive : Basic Highlight</p>
  <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
    Styled with Custom Attribute Directive : Better Highlight
  </p>
</div>  

<!-- custom structural directive -->
<div *appUnless="onlyOdd">
  <li
  class="list-group-item"
  [ngClass] = "{odd: even %2 !===0}"
  [ngStyle] = "{backgroundColor: even%2 !=== 0 ? 'yellow' : 'transparent'}"
  *ngFor = "let even of evenNumbers"
  >
    {{even}}
  </li>
</div>

<!-- ngSwitch Directive -->
<div [ngSwitch] = "value">
  <p *ngSwitchCase="5">value is 5</p>
  <p *ngSwitchCase="10">value is 10</p>
  <p *ngSwitchCase="100">value is 100</p>
  <p *ngSwitchDefault>value is default</p>
</div>


















